
<footer>
      <div class="column" style="width:33%">
        <img src="https://media.discordapp.net/attachments/1205667996174131251/1215043628133781504/image-modified.png?ex=65fb508f&is=65e8db8f&hm=2a1a9ff727bb5dcb97153db843214d4a49bb165203ff5531c8964d7a1d097a8f&=&format=webp&quality=lossless" class="logo">
        <p class="description"></p>
      </div>
       <div class="column" style="width:10%"></div>
      <div class="column">
        <h4>Resources</h4>
        <ul>
          <li>Client Panel</li>
          <li>Discord</li>
          <li>Docs</li>
        </ul>
      </div>
      <div class="column">
        <h4>Legal</h4>
        <ul>
          <li>Terms of Service</li>
          <li>Privcay Policy</li>
          <li>Payment Policy</li>

        </ul>
      </div>
      <p style="text-align: center; color: rgb(255, 255, 255);">Site made by xAlphabet</p>

    </footer>
  </body>
  </html>