
<footer>
      <div class="column" style="width:33%">
        <img src="https://cdn.discordapp.com/icons/1190316363105972314/b6b36f767549d5ba996c1042ccf0b262.webp?size=1024&format=webp&width=0&height=289" class="logo">
        <p class="description">GooseHosting provides a wide range of servers to gamers and developers all around the world, at the most competitive pricing!</p>
      </div>
       <div class="column" style="width:10%"></div>
      <div class="column">
        <h4>Resources</h4>
        <ul>
          <li>Client Panel</li>
          <li>Discord</li>
          <li>Docs</li>
        </ul>
      </div>
      <div class="column">
        <h4>Legal</h4>
        <ul>
          <li>Terms of Service</li>
          <li>Privcay Policy</li>
          <li>Payment Policy</li>
        </ul>
      </div>
    </footer>
  </body>
  </html>