<%- include('partials/top') -%>
      <div class="header">
        <h1>Affordable  & Reliable School Shop System!</h1>
        <p>Multiple products to fit your needs!</p><br>
        <% if (locals.user) { %>
        <a href="/cart"><i class="fa-solid fa-plane"></i> Shop now!</a>
          <% } else { %>
          <a href="/login"><i class="fa-solid fa-plane"></i> Shop now!</a>
            <% } %>
              </div>
      </div> <br><br><br>
    </div>
    <div class="wehave">
      <h1>We Have</h1>
      <div class="attributes">
        <div class="attribute">
          <i class="fa-solid fa-shield-halved"></i>
          <h3 class="name">DDOS Protection</h3>
          <p class="desc">Our servers are equipped with the best protection to prevent and stop DDOS attacks from affecting your server!</p>
        </div>
        <div class="attribute">
          <i class="fa-solid fa-phone"></i>
          <h3 class="name">Support</h3>
          <p class="desc">We have support professionals available 24 hours a day, 7 days a week to ensure you get an answer to your query whenever you need it!
  </p>
        </div>
        <div class="attribute">
          <i class="fa-solid fa-gauge"></i>
          <h3 class="name">Fast Setup</h3>
          <p class="desc">After payment is confirmed and the order is processed, your order will be instantly configured.
  </p>
        </div>
        <div class="attribute">
          <i class="fa-solid fa-server"></i>
          <h3 class="name">Hardware</h3>
          <p class="desc">Our servers are equipped with the best protection to prevent and stop DDOS attacks from affecting your server!</p>
        </div>
        <div class="attribute">
          <i class="fa-solid fa-earth-americas"></i>
          <h3 class="name">99% Uptime</h3>
          <p class="desc">We promise 99% uptime across all of our services, with the exception of unusual outages.</p>
        </div>
        <div class="attribute">
          <i class="fa-solid fa-money-check-dollar"></i>
          <h3 class="name">Affordable</h3>
          <p class="desc">Our programs are reasonable for individuals, businesses, and people from all over the world! There are no hidden costs.</p>
        </div>
      </div>
    </div>
    <div class="plans" id="plans">
      <h1>Plans</h1>
      <p>World Downloadable is avaiable after trial/subscription. +$3 for an EXTRA GB of RAM</p>
      <div class="plans-container">
        <div class="plan">
          <img class="plan-icon" src="https://lh3.bunny.novaskin.me/tjfbtBZDVedbI4OdYBUd9rl-ukmjZM8g-zTl1R4MiEwJ7h26e8SWHxSwjA8j0PYPu_NoaVY-n2Hx_ysG_Y9mPw=rw-h400">
          <h2 class="plan-name">Iron</h2>
          <div class="benefits">
            <li>4GB high-speed Ram</li>
            <li>1 Core Shared CPU</li>
            <li>10 GB Storage</li>
          </div>
          <a class="purchase-btn">Free Trial $2.99 </a>
        </div>
        <div class="plan">
          <img class="plan-icon" src="https://media.discordapp.net/attachments/1188548037371494453/1192974614704422942/150.png?ex=65ab0730&is=65989230&hm=2aea2fe4ae262305f9021c58826947e76bf4cfd7fdec111f5e7faf6f00e21d41&=&format=webp&quality=lossless&width=169&height=169">
          <h2 class="plan-name">Gold</h2>
          <div class="benefits">
            <li>4 GB High-Speed Ram</li>
            <li>2 Core Shared CPU</li>
            <li>15 GB Storage</li>
          </div>
          <a class="purchase-btn">Subscribe $5.99</a>
        </div>
        <div class="plan">
          <img class="plan-icon" src="https://media.discordapp.net/attachments/1188548037371494453/1192974843902169200/360.png?ex=65ab0767&is=65989267&hm=ff496020048f629ad7ba3d7bcc165866cc2ffce47c2eda1db5eb0abd4baf7f9d&=&format=webp&quality=lossless&width=406&height=406">
          <h2 class="plan-name">Diamond</h2>
          <div class="benefits">
            <li>6 GB High-Speed Ram</li>
            <li>4 Core Shared CPU</li>
            <li>25 GB Storage</li>
          </div>
          <a class="purchase-btn">Subscribe $8.99</a>
        </div>
        <div class="plan">
          <img class="plan-icon" src="https://media.discordapp.net/attachments/1188548037371494453/1192975024764764221/360.png?ex=65ab0792&is=65989292&hm=fbd313c75fa6f51c5c6a7c6c803443ff821e394d6943ed767cefb6286cde8e61&=&format=webp&quality=lossless&width=406&height=406">
          <h2 class="plan-name">Netherite</h2>
          <div class="benefits">
            <li>10 GB High-Speed Ram</li>
            <li>8 Core Shared CPU</li>
            <li>35 GB Storage</li>
          </div>
          <a class="purchase-btn">Subscribe $12.99</a>
        </div>
      </div> <br> <br>
    </div>
    

              <%- include('partials/style') -%>
                <%- include('partials/footer') -%>